@{
    ViewBag.Title = "Blog";
}

    <!-- row begin -->
    <div class="row">
        <!-- col-md-9 begin -->
        <div class="col-md-9">
            <!-- row begin -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                        <div class="col-md-6 col">
                            <!-- card begin -->
                            <div class="card my-4 shadow">
                                <img class="card-img-top img-fluid" src="http://placehold.it/200x100" alt="Ürün Resmi">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">
                                        <a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a>
                                    </h4>
                                    <p class="card-text text-justfiy text-truncate">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                        elit. Mollitia nesciunt dolorum, animi saepe a quos?
                                    </p>
                                    <small class="text-muted">08.11.2018</small>
                                    <a href="@Url.Action("BlogSingle","Home")" class="btn btn-dark btn-sm pull-right">Devamını Oku</a>
                                </div>
                            </div>
                            <!-- card end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->

        </div>
        <!-- col-md-9 end -->
        <!-- col-md-3 begin -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item text-center h4 bg-light">Blog<hr></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem ipsum dolor sit.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem ipsum dolor sit amet.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem, ipsum dolor.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem ipsum dolor sit amet consectetur.</a></li>
                <li class="list-group-item"><a href="@Url.Action("BlogSingle","Home")">Lorem ipsum dolor sit.</a></li>
            </ul>
        </div>
        <!-- col-md-3 end -->
    </div>
    <!-- row end -->

